lab01/flows.json
[
    {
        "id": "37e01fdc307e5744",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aac751273823c33f",
        "type": "mqtt in",
        "z": "37e01fdc307e5744",
        "name": "",
        "topic": "4ID3_GroupA/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a78dd1c365b84804",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 360,
        "wires": [
            [
                "aed8af6dd355cc83",
                "8396e637af08f610"
            ]
        ]
    },
    {
        "id": "aed8af6dd355cc83",
        "type": "debug",
        "z": "37e01fdc307e5744",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 360,
        "wires": []
    },
    {
        "id": "8396e637af08f610",
        "type": "ui_chart",
        "z": "37e01fdc307e5744",
        "name": "humidity",
        "group": "984fd984f522663d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "a69b730628657f16",
        "type": "mqtt in",
        "z": "37e01fdc307e5744",
        "name": "",
        "topic": "4ID3_GroupA/tempurature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a78dd1c365b84804",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 580,
        "wires": [
            [
                "4c25460e07eb3937",
                "2b53fc69a34ca53b"
            ]
        ]
    },
    {
        "id": "4c25460e07eb3937",
        "type": "debug",
        "z": "37e01fdc307e5744",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "2b53fc69a34ca53b",
        "type": "ui_chart",
        "z": "37e01fdc307e5744",
        "name": "humidity",
        "group": "984fd984f522663d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "tempurature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "e73144b469d51bbf",
        "type": "mqtt in",
        "z": "37e01fdc307e5744",
        "name": "",
        "topic": "4ID3_GroupA/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a78dd1c365b84804",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 780,
        "wires": [
            [
                "b03c9854d78839dc",
                "d82bc8235b11b6ae"
            ]
        ]
    },
    {
        "id": "b03c9854d78839dc",
        "type": "debug",
        "z": "37e01fdc307e5744",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 780,
        "wires": []
    },
    {
        "id": "d82bc8235b11b6ae",
        "type": "ui_chart",
        "z": "37e01fdc307e5744",
        "name": "humidity",
        "group": "984fd984f522663d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "0c67fe4c6826d499",
        "type": "mqtt in",
        "z": "37e01fdc307e5744",
        "name": "",
        "topic": "4ID3_GroupA/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a78dd1c365b84804",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "1144176b5feafa22",
                "76f938f7ea61971d"
            ]
        ]
    },
    {
        "id": "1144176b5feafa22",
        "type": "debug",
        "z": "37e01fdc307e5744",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 1000,
        "wires": []
    },
    {
        "id": "76f938f7ea61971d",
        "type": "ui_chart",
        "z": "37e01fdc307e5744",
        "name": "humidity",
        "group": "984fd984f522663d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "a78dd1c365b84804",
        "type": "mqtt-broker",
        "name": "mosquitto.test",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "credentials": {}
    },
    {
        "id": "984fd984f522663d",
        "type": "ui_group",
        "name": "Default",
        "tab": "775780619abf6c65",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "775780619abf6c65",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]